.body{
    width: 100%;
    background-image: url("../img/fondo.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}

.h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.767);
}

.hidden{
    display: none;
}
