.body{
    width: 100%;
    background-image: url("../img/fondo.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}

.h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.767);
}


.h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: black;
    align-self: flex-start;

    &--form{
        color: #BF66D6;
    }
}

.hidden{
    display: none;
}
