.signOut{
    width: 28px;
    height: 28px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.tablaPerio{
    width: 90%;
}

.interaction{
    width: 580px;
    height: 90px;
    margin-bottom: 10px;
}

.memoryImg{
    width: 400px;
    height: 250px;
}

.quizImg{
    width: 338px;
    height: 300px;
}

.progressImg{
    width: 642px;
    height: 395px;
}

.periotableImg{
    width: 642px;
    height: 350px;
}
