.normalText{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    

    &--inicio{
        padding: 20px;
        color:  #341d75;
        text-align: justify;
    }
}