@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
.body {
  width: 100%;
  background-image: url("../img/fondo.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.767);
}

.hidden {
  display: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.h3--form {
  color: #BF66D6;
}

.header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  background: #FFC591;
  width: 373px;
  height: 61px;
  border-radius: 15px;
  border: none;
  margin: 15px;
  -webkit-box-shadow: 2px 2px 4px 0px #00000030;
          box-shadow: 2px 2px 4px 0px #00000030;
  cursor: pointer;
  color: #803d71;
  font-size: 25px;
}

.btn:hover {
  background: #ff9b44;
  color: white;
}

.btn--form {
  height: 50px;
  background: #BF66D6;
  color: white;
  width: 450px;
  margin-top: 25px;
  border-radius: 12px;
}

.btn--form:hover {
  background-color: #a51bc7;
}

.btnText {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__label {
  margin-top: 30px;
}

.form__titles {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  color: #BF66D6;
}

.form__input {
  width: 450px;
  height: 50px;
  border-radius: 12px;
  border-color: #BF66D6;
  border-style: solid;
}

.form__error {
  color: red;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
}

.memory-game {
  width: 65%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.memory-card {
  width: 120px;
  height: 145px;
  margin: 5px;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.memory-card:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.memory-card.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  background: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front-face {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
/*# sourceMappingURL=main.css.map */