.mainProgreso{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.period{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #91DFFF;
    border-radius: 20px;
}

.goalsContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    background: #4dc3f1;
}

.goal{
    width: 90%;
    height: 90px;
    background-image: url("../img/goalBack.png");
}